* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  width: 100rem;
  font-family: "Roboto", sans-serif;
}

.container {
  left: 0;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
.header {
  width: 100rem;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
  ul {
    display: flex;
    align-items: center;

    li {
      img {
        padding: 0 0.6rem;
      }
      a {
        color: #fff;
        font-size: 1rem;
        padding: 1rem;
        display: block;
      }
    }
  }

  a:hover {
    color: #f9804b;
  }
  &_foot {
    color: #fff;
  }
}
.front {
  width: 31.25rem;
  //   height: 25rem;
  //   height: 78rem;
  //   background: url(/assets/images/Giant\ Panda.png);
  z-index: 1;
  color: #fff;
  position: relative;
  &_shape {
    width: 29rem;
    height: 29rem;
    border-radius: 50%;
    background-color: #f9804b;
    position: absolute;
    top: 1.7%;
    left: calc(50% - 4.5rem + 33rem);
  }
  &_text {
    left: calc(50% - 3rem / 2 + 33rem);
    position: absolute;
    top: 5.3em;
    z-index: 1;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    h1 {
      span {
        color: #ffee2e;
      }
      line-height: 75%;
      font-weight: 700;
      font-size: 6.5rem;
      text-align: center;
    }
    p {
      width: 18.6rem;
      font-size: 1rem;
      top: 9rem;
      background-color: #f9804b;
      padding: 1rem 5rem;
      border-radius: 1.5rem;
      text-align: center;
      margin-top: 3.75rem;
    }
  }
}
.cc {
  width: 75rem;
  justify-content: center;
  margin: 0 auto;
}
.section-2 {
  position: relative;
  &_con {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    &_text {
      width: 45%;
      h2 {
        font-size: 3rem;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }
      a {
        font-size: 1rem;
        color: #f9804b;
        font-weight: 700;
        text-decoration: underline;
      }
      h4 {
        font-size: 1.5rem;
        line-height: 1.5;
        margin-bottom: 1.5rem;
      }
    }
    &_img {
      width: 45%;
      img {
        width: 100%;
      }
    }
  }
  &_back {
    position: absolute;
    right: 0;
  }
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 5rem;
  img {
    width: 100%;
    height: 100%;
  }
  &_item {
    width: 100%;
    height: 100%;
  }
  &_cart {
    border: 1px solid #fa6f32;
    border-radius: 5px;
  }
  &_cart_text {
    display: flex;
    padding: 0.75rem;
    justify-content: space-between;
    h3 {
      text-transform: uppercase;
    }
  }
}
.cart {
  position: relative;
  &_a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 5rem 0;
  }
  &_btn-left {
    position: absolute;
    left: -6rem;
    top: 44.5%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
  }
  &_btn-right {
    position: absolute;
    right: -6rem;
    top: 44.5%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
  }
  a {
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;
    background-color: #fe9013;
    border-radius: 1.5rem;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
  }
  &_back {
    &_left {
      position: absolute;
      left: 0;
      bottom: -5rem;
    }
    &_right {
      position: absolute;
      right: 0;
      bottom: -5rem;
    }
  }
}

.pick {
  background: linear-gradient(
      315.75deg,
      #fed290b3 30.06%,
      #febdab 100.95%,
      #fed290b3 106.36%
    ),
    linear-gradient(
      315.75deg,
      #febdabbd 30.06%,
      #f3a9f8a8 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      #febdabbd 30.06%,
      #f3a9f8a8 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  padding: 6.9rem 0 10rem;
  height: 62.7rem;
  position: relative;
  &_inside {
    border-radius: 2rem;
    background: #fdfdff85;
    // backdrop-filter: blur(2px);
    color: #333b41;
    padding: 0 4.3rem;
    width: 72.5rem;
    // height: 21.8rem;
    &_text {
      max-width: 62.8rem;
      margin: 0 auto;
      h1 {
        font-size: 3rem;
        // font-weight: 700;
        line-height: 1.2;
        color: #fe9013;
        margin-bottom: 1.5rem;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 1.8rem;
        padding-top: 2.5rem;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 1.8rem;
        margin-bottom: 2.5rem;
      }
      &_p {
        font-weight: bold;
        margin-bottom: 0.6rem;
      }
      p {
        font-size: 1rem;
        line-height: 1.3rem;
      }
    }
    &_work {
      h1 {
        justify-content: center;
        text-align: center;
        align-items: center;
        font-weight: 400;
        font-size: 2.25rem;
        top: 400px;
        margin-top: 3.75rem;
      }
    }
    &_work_img {
      height: 21.8rem;
      a {
        background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
        border: none;
        border-radius: 25px;
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        padding: 1rem 3rem;
        font-size: 1rem;
        font-weight: 500;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        max-width: 18.6rem;
        margin: 0 auto;
        margin-top: 2rem;
      }
    }
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    max-width: 47.7rem;
    margin: 0 auto;
    margin-top: 3rem;
    &_con {
      max-width: 10.5rem;
      margin: 0 auto;
      &_img {
        height: 10.5rem;
        width: 10.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #f9804b;
        background-color: #fff;
        border-radius: 5px;
      }
      &_text {
        margin-top: 1.8rem;
      }
    }
  }
}
.test {
  position: relative;
  h1 {
    margin-top: 8.75rem;
    font-size: 2.25rem;
    text-align: center;
    margin-bottom: 2.9rem;
  }
  &_border {
    height: 100%;
    padding: 1.5rem 1.5rem 1.9rem 1.6rem;
    border-radius: 1.9rem;
    background-color: #f1f2f3;
  }
  &_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
    &_con {
      background: #f1f3f2;
      height: 24.4rem;
      width: 16.7rem;
      border-radius: 2rem;
      padding: 2px;
      position: relative;
      background-image: linear-gradient(
          315.75deg,
          #febdabbd 30.06%,
          #f3a9f8a8 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        ),
        linear-gradient(
          315.75deg,
          #febdabbd 30.06%,
          #f3a9f8a8 50.74%,
          #e0d8f0 80.49%,
          #eaf7fe 127.9%,
          #eaf7fe 149.54%
        );
      &_inside {
        display: flex;
        position: static;
        gap: 1;
        align-items: center;
        margin-bottom: 1rem;
        &_text {
          margin-left: 1rem;
          h3 {
            font-size: 1rem;
            color: #000;
          }
          p {
            font-size: 0.9rem;
            color: #bdbdbd;
          }
        }
      }
      &_p {
        display: flex;
        // width: 16.7rem;
        max-height: 83%;
        overflow-x: auto;
        color: #767474;
      }
    }
  }
  &_slide {
    max-width: 60rem;
    width: 100%;
    margin: 2.1rem auto;
    padding: 1px;
    border-radius: 5px;
    border: 0.5px;
    background-image: linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      ),
      linear-gradient(
        315.75deg,
        #febdabbd 30.06%,
        #f3a9f8a8 50.74%,
        #e0d8f0 80.49%,
        #eaf7fe 127.9%,
        #eaf7fe 149.54%
      );
    input {
      -webkit-appearance: none;
      appearance: none;
      width: 100%;
      display: block;
      height: 8px;
      background: #f5f7f6;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
      border-radius: 5px;
      overflow: visible;
    }
  }
  &_feedback {
    margin-bottom: 11.25rem;
    background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
    border-radius: 0.3rem;
    padding: 1rem 2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    width: 18.6rem;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: #fff;
    }
  }
  &_back {
    position: absolute;
    right: -12.5rem;
    bottom: -18.4rem;
  }
}
.footer {
  background-color: #000;
  position: relative;
  &_con {
    padding: 4rem 0 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3.5rem;
    &_donate {
      text-decoration: none;
      color: #fff;
      font-weight: 500;
      font-size: 1rem;
      text-transform: uppercase;
      text-align: center;
      align-items: center;
      border-radius: 0.5rem;
      background-color: #f9804b;
      padding: 1rem;
    }
  }
  &_form {
    max-width: 36.6rem;
    grid-column: 3 / -1;
    justify-self: right;
    display: flex;
    flex-wrap: wrap;
    gap: 1.4rem 1rem;
    h3 {
      font-size: 1.5rem;
      color: #fff;
      font-weight: 400;
      line-height: 1.8rem;
      //   width: 100%;
    }
    &-input {
      border: 1px solid orange;
      border-radius: 0.5rem;
      color: #fff;
      outline: none;
      flex: 1;
      background-color: transparent;
      //   width: 70%;
      line-height: 140%;
      padding: 0.7rem 1rem;
      width: 14.25rem;
    }
    &-btn {
      font-size: 1rem;
      color: #4b9200;
      border-radius: 0.5rem;
      //   width: 30%;
      padding: 0.7rem 1.5rem;
    }
  }
  &_socials {
    list-style: none;
    grid-column: 1 / 1;
    display: flex;
    flex-direction: column;
    &_li {
      display: flex;
      flex-wrap: wrap;
      &_img {
        height: 2.6rem;
        width: 2.6rem;
        background-color: #c4c4c480;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1.2rem;
      }
      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}
