* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

.active a {
  color: #f9804b !important;
}

.container {
  left: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.header {
  width: 100%;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
}
.header a {
  color: #fff;
}
.header ul {
  display: flex;
  align-items: center;
}
.header ul li img {
  padding: 0.5rem 0.6rem;
}
.header ul li a {
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  display: block;
}
.header a:hover {
  color: #f9804b;
  transition: 0.5s ease;
}
.header_foot {
  color: #fff;
}

.front {
  width: 31.25rem;
  z-index: 1;
  color: #fff;
  position: relative;
}
.front_shape {
  width: 29rem;
  height: 29rem;
  border-radius: 50%;
  background-color: #f9804b;
  position: absolute;
  top: 1.7%;
  left: calc(50% - 4.5rem + 33rem);
}
.front_text {
  left: calc(50% - 1.5rem + 33rem);
  position: absolute;
  top: 5.3em;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.front_text h1 {
  line-height: 75%;
  font-weight: 700;
  font-size: 6.5rem;
  text-align: center;
}
.front_text h1 span {
  color: #ffee2e;
}
.front_text button {
  width: 18.6rem;
  font-size: 1rem;
  top: 9rem;
  color: #fff;
  cursor: pointer;
  background-color: #f9804b;
  padding: 1rem 5rem;
  border-radius: 1.5rem;
  text-align: center;
  margin-top: 3.75rem;
}
.front_text button:hover {
  background-color: #ac4519;
  transition: 0.5s ease;
}

.cc {
  width: 72.5rem;
  justify-content: center;
  margin: 0 auto;
}

.section-2 {
  position: relative;
}
.section-2_con {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}
.section-2_con_text {
  width: 45%;
}
.section-2_con_text h2 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}
.section-2_con_text p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.section-2_con_text a {
  font-size: 1rem;
  color: #f9804b;
  font-weight: 700;
  text-decoration: underline;
}
.section-2_con_text h4 {
  font-size: 1.5rem;
  line-height: 1.5;
  margin-bottom: 1.5rem;
}
.section-2_con_img {
  width: 45%;
}
.section-2_con_img img {
  width: 100%;
}
.section-2_back {
  position: absolute;
  right: 0;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-top: 5rem;
  position: relative;
}
.grid img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.grid_item {
  width: 100%;
  height: 100%;
}
.grid_cart {
  border: 1px solid #fa6f32;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.grid_cart:hover {
  color: #fff;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transition: 0.5s ease;
}
.grid_cart:hover::before {
  box-shadow: 0 0 40rem 20rem #000;
}
.grid_cart::before {
  content: "";
  width: 100%;
  position: absolute;
  bottom: 0;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 0 0 0 #000;
  z-index: 1;
}
.grid_cart:hover .grid_cart_text {
  z-index: 2;
  color: #fff;
  position: absolute;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1.2rem;
  transition: 0.5s ease;
  bottom: 0.75rem;
}
.grid_cart:hover img {
  transform: scale(1.1);
}
.grid_cart_text {
  display: flex;
  position: relative;
  padding: 0.75rem;
  justify-content: space-between;
}
.grid_cart_text h3 {
  text-transform: uppercase;
}

.cart {
  position: relative;
}
.cart_a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem 0;
}
.cart_btn-left {
  position: absolute;
  left: -6rem;
  top: 50%;
  transform: translateY(-50%);
  background: #f9804b;
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
}
.cart_btn-left img {
  width: 100%;
  height: 100%;
}
.cart_btn-left:hover {
  background: #cb511c;
  cursor: pointer;
  transition: 0.5s ease;
}
.cart_btn-right:hover {
  background: #cb511c;
  cursor: pointer;
  transition: 0.5s ease;
}
.cart_btn-right {
  position: absolute;
  right: -6rem;
  top: 50%;
  transform: translateY(-50%);
  background: #f9804b;
  border: none;
  border-radius: 50%;
  padding: 1.5rem;
}
.cart_btn-right img {
  width: 100%;
  height: 100%;
}
.cart a {
  text-transform: uppercase;
  font-size: 1rem;
  color: #fff;
  background-color: #fe9013;
  border-radius: 1.5rem;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
}
.cart a:hover {
  background-color: #cb511c;
  transition: 0.5s ease;
}
.cart_back_left {
  position: absolute;
  left: 0;
  bottom: -5rem;
}
.cart_back_right {
  position: absolute;
  right: 0;
  bottom: -5rem;
}

.pick {
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7019607843) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7019607843) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.7411764706) 30.06%, rgba(243, 169, 248, 0.6588235294) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.7411764706) 30.06%, rgba(243, 169, 248, 0.6588235294) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  padding: 6.9rem 0 10rem;
  height: 62.7rem;
  position: relative;
}
.pick_inside {
  border-radius: 2rem;
  background: rgba(253, 253, 255, 0.5215686275);
  color: #333b41;
  padding: 0 4.3rem;
  width: 72.5rem;
}
.pick_inside_text {
  max-width: 62.8rem;
  margin: 0 auto;
}
.pick_inside_text h1 {
  font-size: 3rem;
  line-height: 1.2;
  color: #fe9013;
  margin-bottom: 1.5rem;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-bottom: 1.8rem;
  padding-top: 2.5rem;
}
.pick_inside_text h3 {
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.8rem;
  margin-bottom: 2.5rem;
}
.pick_inside_text_p {
  font-weight: bold;
  margin-bottom: 0.6rem;
}
.pick_inside_text p {
  font-size: 1rem;
  line-height: 1.3rem;
}
.pick_inside_work h1 {
  justify-content: center;
  text-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 2.25rem;
  top: 400px;
  margin-top: 3.75rem;
}
.pick_inside_work_img {
  height: 21.8rem;
}
.pick_inside_work_img a {
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border: none;
  border-radius: 25px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  padding: 1rem 3rem;
  font-size: 1rem;
  font-weight: 500;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  max-width: 18.6rem;
  margin: 0 auto;
  margin-top: 2rem;
}
.pick_inside_work_img a:hover {
  background: #cb511c;
}
.pick_grid {
  display: flex;
  justify-content: space-between;
  max-width: 47.7rem;
  margin: 0 auto;
  margin-top: 3rem;
  position: relative;
}
.pick_grid_vector {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: translateY(-42px);
}
.pick_grid_con {
  max-width: 10.5rem;
  margin: 0 auto;
}
.pick_grid_con_img {
  height: 10.5rem;
  width: 10.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #f9804b;
  background-color: #fff;
  border-radius: 5px;
}
.pick_grid_con_text {
  margin-top: 1.8rem;
}

.test {
  position: relative;
}
.test h1 {
  margin-top: 8.75rem;
  font-size: 2.25rem;
  text-align: center;
  margin-bottom: 2.9rem;
}
.test_border {
  height: 100%;
  padding: 1.5rem 1.5rem 1.9rem 1.6rem;
  border-radius: 1.9rem;
  background-color: #f1f2f3;
}
.test_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}
.test_grid_con {
  background: #f1f3f2;
  height: 24.4rem;
  width: 16.7rem;
  border-radius: 2rem;
  padding: 2px;
  position: relative;
  background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.7411764706) 30.06%, rgba(243, 169, 248, 0.6588235294) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.7411764706) 30.06%, rgba(243, 169, 248, 0.6588235294) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}
.test_grid_con_inside {
  display: flex;
  position: static;
  gap: 0.5rem;
  align-items: center;
  margin-bottom: 1rem;
}
.test_grid_con_inside_text h3 {
  font-size: 1rem;
  color: #000;
}
.test_grid_con_inside_text p {
  font-size: 0.9rem;
  color: #bdbdbd;
}
.test_grid_con_p {
  display: flex;
  max-height: 83%;
  overflow-x: auto;
  color: #767474;
}
.test_slide {
  max-width: 60rem;
  width: 100%;
  margin: 2.1rem auto;
  padding: 1px;
  border-radius: 5px;
  border: 0.5px;
  background-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.7411764706) 30.06%, rgba(243, 169, 248, 0.6588235294) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.7411764706) 30.06%, rgba(243, 169, 248, 0.6588235294) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
}
.test_slide_input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  display: block;
  height: 8px;
  background: #f5f7f6;
  transition: opacity 0.2s;
  border-radius: 5px;
}
.test_slide_input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 11.5rem;
  height: 8px;
  background: #fe9013;
  cursor: pointer;
  border-radius: 5px;
}
.test_slide_input::-moz-range-thumb {
  height: 11.5rem;
  border-radius: 5px;
  height: 8px;
  background: #fe9013;
  cursor: pointer;
}
.test_slide_input::-ms-thumb {
  height: 11.5rem;
  border-radius: 5px;
  height: 8px;
  background: #fe9013;
  cursor: pointer;
}
.test_feedback {
  margin-bottom: 11.25rem;
  background: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
  border-radius: 0.3rem;
  padding: 1rem 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 18.6rem;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}
.test_feedback a {
  text-decoration: none;
  color: #fff;
}
.test_feedback:hover {
  background: #e17141;
  cursor: pointer;
}
.test_back {
  position: absolute;
  right: -12.5rem;
  bottom: -18.4rem;
}

.footer {
  background-color: #000;
  position: relative;
}
.footer_con {
  padding: 4rem 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.5rem;
}
.footer_con_donate {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f9804b;
  padding: 1rem;
}
.footer_con_donate:hover {
  background-color: #ae4e25;
  cursor: pointer;
}
.footer_form {
  max-width: 36.6rem;
  grid-column: 3/-1;
  justify-self: right;
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem 1rem;
}
.footer_form h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.8rem;
}
.footer_form-input {
  border: 1px solid orange;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  flex: 1;
  background-color: transparent;
  line-height: 140%;
  padding: 0.7rem 1rem;
  width: 14.25rem;
}
.footer_form-btn {
  font-size: 1rem;
  color: orange;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
}
.footer_form-btn:hover {
  background-color: #f9804b;
  color: #fff;
}
.footer_socials {
  list-style: none;
  grid-column: 1/1;
  display: flex;
  position: relative;
  flex-direction: column;
}
.footer_socials_li_img {
  height: 2.6rem;
  width: 2.6rem;
  background-color: rgba(196, 196, 196, 0.5019607843);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
}
.footer_socials_li:hover .footer_socials_li_img {
  background-color: #4b9200;
}
.footer_socials_li:hover p {
  color: #4b9200;
}
.footer_socials_li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}
.footer_socials_li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer_nav {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.footer_nav a {
  text-decoration: none;
  color: #fff;
}
.footer_nav a:hover {
  color: #f9804b;
  transition: 0.5s ease;
}
.footer_aut {
  align-self: flex-end;
  justify-self: end;
  font-weight: 100;
  font-size: 1rem;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
}