* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  width: 100rem;
  font-family: "Roboto", sans-serif;
}

.container {
  left: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
}

.header {
  width: 100rem;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  display: flex;
  position: relative;
}
.header ul {
  display: flex;
  align-items: center;
}
.header ul li img {
  padding: 0 0.6rem;
}
.header ul li a {
  color: #fff;
  font-size: 1rem;
  padding: 1rem;
  display: block;
}
.header a:hover {
  color: #f9804b;
}
.header_foot {
  color: #fff;
}

.front {
  width: 31.25rem;
  z-index: 1;
  color: #fff;
  position: relative;
}
.front_text {
  left: calc(50% - 1.5rem + 33rem);
  position: absolute;
  top: 5.3em;
  z-index: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}
.front_text h1 {
  line-height: 75%;
  font-weight: 700;
  font-size: 6.5rem;
  text-align: center;
}
.front_text h1 span {
  color: #f9804b;
}
.front_text p {
  width: 18.6rem;
  font-size: 1rem;
  top: 9rem;
  background-color: #f9804b;
  padding: 1rem 5rem;
  border-radius: 1.5rem;
  text-align: center;
  margin-top: 3.75rem;
}