* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
  overflow-x: hidden;
}
body {
  font-family: "Roboto", sans-serif;
}
.active a {
  color: #f9804b !important;
}
.container {
  left: 0;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
}
.cc {
  max-width: 72.5rem;
  margin: 0 auto;
}
.header {
  width: 100%;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 5rem;
  position: relative;
  a {
    color: #fff;
  }
  ul {
    display: flex;
    align-items: center;
    gap: 3.6rem;
    li {
      a {
        color: #fff;
        font-size: 1rem;
        display: block;
      }
    }
  }

  a:hover {
    color: #f9804b;
    transition: 0.5s ease;
  }
  &_foot {
    color: #fff;
  }
}
.panda {
  &_img {
    height: 24.3rem;
  }
}

.bg {
  padding: 2.5rem 0 11.25rem;

  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 0.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  width: 100%;
  height: 100%;
  &_text {
    color: #fff;

    p {
      font-size: 1rem;
      font-weight: 500;
      padding-top: 0.6rem;
      line-height: 140%;
    }
  }
  .h2 {
    font-size: 2.25rem;
    line-height: 130%;
    font-family: "Roboto";
    font-weight: 400;
    text-transform: uppercase;
  }
  &_donation {
    color: #fe9013;
    font-size: 2.25rem;
    line-height: 130%;
    h3 {
      font-weight: 400;
    }
    padding: 2.5rem 0;
  }
  &_pick {
    width: 72.5rem;
    margin: 0 auto;
    height: 57.375rem;
    background: rgba(255, 255, 255, 0.52);
    border-radius: 1.25rem;
    &_text {
      h2 {
        font-size: 3rem;
        color: #fe9013;
        font-weight: 400;
        text-align: center;
        padding-top: 1.25rem;
      }
      p {
        font-size: 1.5rem;
        text-align: center;
        font-weight: 400;
        color: #333b41;
      }
    }
  }
}
