* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
}

.active a {
  color: #f9804b !important;
}

.container {
  left: 0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.hidden_h1 {
  display: none;
}

li {
  display: inline-block;
}

.cc {
  max-width: 72.5rem;
  margin: 0 auto;
}

.header {
  width: 100%;
  background-color: #000;
  justify-content: space-around;
  align-items: center;
  display: flex;
  height: 5rem;
  position: relative;
}
.header a {
  color: #fff;
}
.header ul {
  display: flex;
  align-items: center;
  gap: 3.6rem;
}
.header ul li a {
  color: #fff;
  font-size: 1rem;
  display: block;
}
.header a:hover {
  color: #f9804b;
  transition: 0.5s ease;
}
.header_foot {
  color: #fff;
}

.panda_img {
  height: 24.3rem;
}

.bg {
  padding: 2.5rem 0 11.25rem;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 0.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  width: 100%;
  height: 100%;
}
.bg_text {
  color: #fff;
}
.bg_text p {
  font-size: 1rem;
  font-weight: 500;
  padding-top: 0.4rem;
  line-height: 140%;
}
.bg .h2 {
  font-size: 2.25rem;
  line-height: 130%;
  font-family: "Roboto";
  font-weight: 400;
  text-transform: uppercase;
}
.bg_donation {
  color: #fe9013;
  line-height: 130%;
  padding: 3.7rem 0 4.5rem;
}
.bg_donation h3 {
  font-weight: 400;
  font-size: 2.25rem;
}
.bg_pick {
  display: flex;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.52);
  border-radius: 1.25rem;
  padding: 2.5rem 5.75rem 3.75rem;
}
.bg_pick_text h2 {
  font-size: 3rem;
  color: #fe9013;
  margin-right: 0.75rem;
  font-weight: 400;
  text-align: center;
}
.bg_pick_text p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 1.5rem;
  color: #333b41;
}
.bg_pick_panda {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3.75rem;
  gap: 5.5rem;
  padding-right: 0.8rem;
}
.bg_pick_panda_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 3.4rem;
  position: relative;
}
.bg_pick_panda_text h2 {
  color: #000;
  font-weight: 500;
  font-size: 4.5rem;
  line-height: 80%;
  margin-bottom: 0.6rem;
}
.bg_pick_panda_text p {
  line-height: 140%;
  font-weight: 400;
  font-size: 1rem;
}
.bg_pick_panda_text p::after {
  content: url(/assets/icons/x_icon.png);
  position: absolute;
  right: -16%;
  top: 50%;
  transform: translateY(20%);
}
.bg_range-text {
  width: 50.6rem;
  margin-top: 2.9rem;
  padding-left: 0.2rem;
}
.bg_range-text p {
  font-size: 1rem;
  font-weight: 400;
  padding-bottom: 1rem;
}
.bg_range-line {
  background-color: #404950;
  height: 1.8rem;
  border-radius: 0.1rem;
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
}
.bg_range-line-middle {
  width: 57.4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.bg_range-line-middle::before {
  content: "";
  top: 50%;
  left: 0;
  height: 0.125rem;
  width: 100%;
  background-color: #72828e;
  position: absolute;
  transform: translateY(-50%);
}
.bg_range-line-middle input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #ffee2e;
  font-style: inherit;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  position: relative;
}
.bg_range-line-middle input[type=radio]:checked {
  border: 2px solid #fe9013;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  background-color: transparent;
  border-radius: 50%;
  cursor: pointer;
  background-image: radial-gradient(circle at 50%, yellow 0px, yellow 4.5px, transparent 5.5px, transparent 100%);
}
.bg_range-line-middle input[type=radio]:checked:before {
  position: absolute;
  content: "";
  border-radius: 50%;
  transition: 150ms border-color ease-in-out;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid #fe9013;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.bg_range-line-middle input[type=radio]::after {
  content: url(/assets/icons/dollar.png) attr(value);
  filter: brightness(0) saturate(100%) invert(21%) sepia(18%) saturate(380%) hue-rotate(163deg) brightness(95%) contrast(93%);
  color: #333b41;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 140%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 1rem);
}
.bg_range-line-middle input[type=radio]:checked:after {
  filter: brightness(0) saturate(100%) invert(73%) sepia(71%) saturate(3923%) hue-rotate(349deg) brightness(102%) contrast(102%);
}

.footer {
  background-color: #000;
  position: relative;
}
.footer_con {
  padding: 4rem 0 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3.5rem;
}
.footer_con_donate {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
  align-items: center;
  border-radius: 0.5rem;
  background-color: #f9804b;
  padding: 1rem;
}
.footer_con_donate:hover {
  background-color: #ae4e25;
  cursor: pointer;
}
.footer_form {
  max-width: 36.6rem;
  grid-column: 3/-1;
  justify-self: right;
  display: flex;
  flex-wrap: wrap;
  gap: 1.4rem 1rem;
}
.footer_form h3 {
  font-size: 1.5rem;
  color: #fff;
  font-weight: 400;
  line-height: 1.8rem;
}
.footer_form-input {
  border: 1px solid orange;
  border-radius: 0.5rem;
  color: #fff;
  outline: none;
  flex: 1;
  background-color: transparent;
  line-height: 140%;
  padding: 0.7rem 1rem;
  width: 14.25rem;
}
.footer_form-btn {
  font-size: 1rem;
  color: orange;
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.7rem 1.5rem;
}
.footer_form-btn:hover {
  background-color: #f9804b;
  color: #fff;
}
.footer_socials {
  list-style: none;
  grid-column: 1/1;
  display: flex;
  position: relative;
  flex-direction: column;
}
.footer_socials_li_img {
  height: 2.6rem;
  width: 2.6rem;
  background-color: rgba(196, 196, 196, 0.5019607843);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
}
.footer_socials_li:hover .footer_socials_li_img {
  background-color: #4b9200;
}
.footer_socials_li:hover p {
  color: #4b9200;
}
.footer_socials_li a {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: 400;
}
.footer_socials_li:not(:last-child) {
  margin-bottom: 1rem;
}
.footer_nav {
  align-self: flex-end;
  display: flex;
  justify-content: space-between;
}
.footer_nav a {
  text-decoration: none;
  color: #fff;
}
.footer_nav a:hover {
  color: #f9804b;
  transition: 0.5s ease;
}
.footer_aut {
  align-self: flex-end;
  justify-self: end;
  font-weight: 100;
  font-size: 1rem;
  line-height: 130%;
  color: #ffffff;
  text-decoration: none;
}